.mainpage_container {
    height: 650px;
    background-color: #EFF2F5;
}

.imageLayout_container {
    display: flex;
    margin: 15px;

}

.imageLayout_imglay {

}

.imageLayout_img {
    max-height: 35px;
    max-width: 35px;
}

.imageLayout_text {
    font-weight: 500;
    margin: 10px;
    font-size: 14px;
}